* {
    box-sizing: border-box;
}

#tacoImg {
    width: 10%;
    height: auto;
}
.container {
    width: 80%;
    margin: auto;
}
.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.btn-primary {
    margin: 0.8em;
    padding: 0.5em;
    color: #fff;
    background-color: coral;
    border: none;
    border-radius: 5px;
}

.control {
    width: 60%;
    display: block;
    margin-bottom: 0.8em;
}

.validationError {
    color: #ff0000;
}